<nav class="navbar navbar-expand-lg navbar-light bg-warning text-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
      aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <a class="navbar-brand" href="#" routerLink="/home">
        <img src="/assets/img/Logo1.png" width="3%" height="3%" class="d-inline-block align-top" alt=""></a>
  
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
  
        <!-- <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li> -->
      </ul>
      <!-- <form class="form-inline my-2 my-lg-0">
        <a class="navbar-brand text-secondary" href="#" routerLink="/home">Home</a>
        <a class="navbar-brand text-secondary" href="#" routerLink="/register">Register</a>
        <a class="navbar-brand text-secondary" href="#" routerLink="/login">Login</a>
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit" routerLink="/login">Login</button>
      </form> -->
  
    </div>
  </nav>