<!-- <app-navbar></app-navbar> -->
<div class="bg-warning">
  <div class="row">
    <div class="col-sm-12">
      <div class="text-center">
        <img src="/assets/img/bg.png" width="1350" height="280" alt="...">
      </div>
    </div>
  </div>

  <div class="jumbotron bg-light px-4 py-3 container mt-3">
    <div class="text-center">
      <img src="/assets/img/Logo.png" class="rounded w-25 p-3" alt="...">
    </div>
    <h1 class="display-4 text-center">DOG APPLICATION</h1>
    <p class="lead text-center">ทำนายสายพันธ์ของสุนัขจากนิสัย</p>
    <hr class="my-4">


    <div class="row ">
      <div class="col-sm-6 ">
        <nav class="navbar navbar-light bg-warning text-white">
          <span class="navbar-brand mb-0 h1 ">เลือกนิสัยของสุนัขต่อไปนี้</span>
        </nav>
        <div class="form-group">
          <label for="rgt-Temperment1">นิสัยสุนัขที่ 1</label>
          <select class="custom-select" id="t1" [(ngModel)]="temp1" name="temp">
            <option *ngFor="let temp of temps" [value]="temp.value">
              {{temp.viewValue}}
            </option>
          </select>
          <!-- <p> Number of Temperment: {{temp1}} </p> -->
        </div>
        <div class="form-group">
          <label for="rgt-Temperment1">นิสัยสุนัขที่ 2</label>
          <select class="custom-select" id="t2" [(ngModel)]="temp2" name="temp">
            <option *ngFor="let temp of temps" [value]="temp.value">
              {{temp.viewValue}}
            </option>
          </select>
          <!-- <p> Number of Temperment: {{temp2}} </p> -->
        </div>
        <div class="form-group">
          <label for="rgt-Temperment1">นิสัยสุนัขที่ 3</label>
          <select class="custom-select" id="t3" [(ngModel)]="temp3" name="temp">
            <option *ngFor="let temp of temps" [value]="temp.value">
              {{temp.viewValue}}
            </option>
          </select>
          <!-- <p> Number of Temperment: {{temp3}} </p> -->
        </div>
        <div class="form-group">
          <label for="rgt-Temperment1">นิสัยสุนัขที่ 4</label>
          <select class="custom-select" id="t4" [(ngModel)]="temp4" name="temp">
            <option *ngFor="let temp of temps" [value]="temp.value">
              {{temp.viewValue}}
            </option>
          </select>
          <!-- <p> Number of Temperment: {{temp4}} </p> -->
        </div>
        <div class="form-group">
          <label for="rgt-Temperment1">นิสัยสุนัขที่ 5</label>
          <select class="custom-select" id="t5" [(ngModel)]="temp5" name="temp">
            <option *ngFor="let temp of temps" [value]="temp.value">
              {{temp.viewValue}}
            </option>
          </select>
          <!-- <p> Number of Temperment: {{temp5}} </p> -->
        </div>
        <div class="form-group">
          <label for="rgt-Temperment1">นิสัยสุนัขที่ 6</label>
          <select class="custom-select" id="t6" [(ngModel)]="temp6" name="temp">
            <option *ngFor="let temp of temps" [value]="temp.value">
              {{temp.viewValue}}
            </option>
          </select>
          <!-- <p> Number of Temperment: {{temp6}} </p> -->
        </div>

        <button type="submit" class="btn btn-success container"
          (click)="openSnackBar()">ทำนายสุนัขกันว่าเป็นสายพันธ์อะไรน้าาา?</button>
        <!-- <button type="submit" class="btn btn-danger" routerLink="/home">Cancel</button> -->
      </div>
      <div class="col-sm-6">
        <div class="row">
          <div class="col-sm-2"></div>
          <div class="col-sm-4">
            <div class="card" style="width:350px">
              <img class="card-img-top" src="/assets/img/beagle.jpg" alt="Card image">
              <div class="card-body">
                <h2 class="card-title">
                  {{result}}</h2>
              </div>
            </div>
            <div class="col-sm-6"></div>
          </div>

        </div>
      </div>
    </div>

  </div>

</div>